@model Models.Admin

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@{ Models.Admin ad = new Models.Admin();}

@if (Session["mvc_user"] != null)
{
    ad = Session["mvc_user"] as Models.Admin;
}
<div class="row" style="margin-top:30px">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading" style="font-weight:bold">
                <i class="fa fa-user  fa-fw"></i> Edit Admin
            </div>
            <div class="panel-body">
                <div class="row">

                    @using (Html.BeginForm("EditProcess", "Admin", FormMethod.Post))
                    {
                        @Html.HiddenFor(model => model.Id)
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserName)
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.UserName)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FullName)
                                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.FullName)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone)
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @maxlength = "15" })
                                @Html.ValidationMessageFor(model => model.Phone)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Gender) &nbsp;&nbsp;&nbsp;&nbsp;
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.Gender, "Male") Male
                                </label>
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.Gender, "Female") Female
                                </label>
                                &nbsp;&nbsp;&nbsp;&nbsp;@Html.ValidationMessageFor(model => model.Gender)
                            </div>

                        </div>
                        <div class="col-lg-6">

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address)
                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Address)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email)
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                            <div class="form-group">
                                @if (Model.IsActived)
                                {
                                    if (ad.IsSuperAdmin)
                                    {
                                        <label>@Html.CheckBox("cbIsActived", new { @Value = "rmb", @checked = "checked" }) Is Actived </label>
                                    }
                                    else
                                    {
                                        <label>@Html.CheckBox("cbIsActived", new { @Value = "rmb", @checked = "checked", @disabled = "disabled" }) Is Actived </label>
                                    }
                                }
                                else
                                {
                                    if (ad.IsSuperAdmin)
                                    {
                                        <label>@Html.CheckBox("cbIsActived", new { @Value = "rmb" }) Is Actived </label>
                                    }
                                    else
                                    {
                                        <label>@Html.CheckBox("cbIsActived", new { @Value = "rmb", @disabled = "disabled" }) Is Actived </label>
                                    }
                                }
                            </div>
                        </div>
                        <h1></h1>
                            <!-- /.col-lg-12 -->
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <button type="submit" style="margin-left:-15px" class="btn btn-primary"><i class="fa fa-plus-circle  fa-fw"></i> Update </button>
                                <a class="btn btn-primary" href="@Url.Action("ListAdmin","Admin")" style="margin-left:50px"><i class="fa  fa-mail-forward fa-fw"></i> Cancel </a>
                            </div>
                            <div class="col-lg-6">
                                @if (ad.Id == Model.Id)
                                {
                                    @Html.ActionLink("Change Password", "ChangePassword", "Admin")
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
