@{
    ViewBag.Title = "OurTeam";
}

@model IEnumerable<Models.Member>

<!-- About us -->
<div class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center heading dark animate_top">
                All about <span>our team</span> Website
            </div>
        </div>

        @{var flag = 0;}
        @foreach (Models.Member item in Model)
        {
            flag++;
            if (flag % 2 != 0)
            {
                <div class="row t1">
                    <div class="col-md-3 animate_left">
                        <img src="~/@item.Image" alt="img" />
                    </div>
                    <div class="col-md-9 animate_right">
                        <h1>@item.FullName</h1>
                        <h3>Gender</h3>
                        <p>@item.Gender</p>
                        <h3>E-mail</h3>
                        <p>@item.Email</p>
                        <h3>Address</h3>
                        <p>@item.Address</p>
                        <h3>Phone</h3>
                        <p>@item.Phone</p>
                        <ul>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            }
            else
            {
            <div class="row t1">
                <div class="col-md-9 animate_right">
                    <h1>@item.FullName</h1>
                    <h3>Gender</h3>
                    <p>@item.Gender</p>
                    <h3>E-mail</h3>
                    <p>@item.Email</p>
                    <h3>Address</h3>
                    <p>@item.Address</p>
                    <h3>Phone</h3>
                    <p>@item.Phone</p>
                    <ul>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>


                <div class="col-md-3 animate_left">
                    <img src="~/@item.Image" alt="img">

                </div>
            </div>
            }
        }
    </div>


</div><!-- End call action text -->
