@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


@model Models.Donation

@{
    Models.Member mb = new Models.Member();
    if (Session["user_login"] != null)
    {
        mb = Session["user_login"] as Models.Member;
    }

    Models.Programs pro = null;
    if (ViewData["program"] != null)
    {
        pro = (Models.Programs)ViewData["program"];
    }
}
<div class="contact-bg parallax" id="contact">
    <div class="contact">
        <div class="container">
            @if (Request.QueryString["add"] != null)
            {
                if (Request.QueryString["add"].Equals("error"))
                {
                    <div class="alert alert-danger" style="text-align: center; margin-top: 30px; margin-bottom: -50px">
                        <img src='~/Content/View_components/images/error.png' alt="img">Donate Fail !

                    </div>

                }
                else
                {
                    <div class="alert alert-success" style="text-align: center; margin-top: 30px; margin-bottom: -50px">
                        <img src='~/Content/View_components/images/success.png' alt="img">Donate Successfull !

                    </div>
                }
            }
            @if (Request.QueryString["send"] != null)
            {
                if (Request.QueryString["send"].Equals("error"))
                {
                    <div class="alert alert-danger" style="text-align: center; margin-top: 30px; margin-bottom: -50px">
                        <img src='~/Content/View_components/images/error.png' alt="img">Invite Fail !

                    </div>

                }
                else
                {
                    <div class="alert alert-success" style="text-align: center; margin-top: 30px; margin-bottom: -50px">
                        <img src='~/Content/View_components/images/success.png' alt="img">Invite Successfull !

                    </div>
                }
            }
            <div class="row">
                @if (pro != null)
                {
                    <div class="col-md-12 text-center heading animate_top"><span class="brd">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Donate For</span>&nbsp;&nbsp;&nbsp;@pro.Name</div>
                }
                else
                {
                    <div class="col-md-12 text-center heading animate_top"><span class="brd">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Donate</span>&nbsp;&nbsp;&nbspForm</div>
                }
            </div>

            <div class="row">
                
                <div class="col-md-4">
                    @using (Html.BeginForm("SendEmail", "Donate", FormMethod.Post))
                    {
                        if (pro != null)
                        {
                            @Html.Hidden("ProgramId", pro.Id)
                        }
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                         <div class="form-group">
                            @Html.Label("Your Friend's Email")
                            @Html.TextBoxFor(model => model.EmailDonator, new { @class = "form-control", @Value = mb.Email, @placeholder = "Enter text" })
                            @Html.ValidationMessageFor(model => model.EmailDonator)
                        </div>
                        <button type="submit" class="bttn" style="font-size:25px">Invite Your Friend</button>
                    }
                </div>
                <div class="col-md-1"></div>

                <div class="col-md-5 contact_form animate_left">

                    @using (Html.BeginForm("DonateProcess", "Donate", FormMethod.Post))
                    {
                        if (pro != null)
                        {
                            @Html.Hidden("ProgramId", pro.Id)
                        }
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            @Html.LabelFor(model => model.FullNameDonator)
                            @Html.TextBoxFor(model => model.FullNameDonator, new { @class = "form-control", @Value = mb.FullName, @placeholder = "Enter text", @maxlength = "50" })
                            @Html.ValidationMessageFor(model => model.FullNameDonator)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EmailDonator)
                            @Html.TextBoxFor(model => model.EmailDonator, new { @class = "form-control", @Value = mb.Email, @placeholder = "Enter text" })
                            @Html.ValidationMessageFor(model => model.EmailDonator)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.GenderDonator) &nbsp; &nbsp; &nbsp; &nbsp;
                            <label class="radio-inline">
                                @if (mb.Gender == "Male")
                                {
                                    @Html.RadioButtonFor(model => model.GenderDonator, "Male", new { @checked = "checked" }) @Html.DisplayName("Male")
                                }
                                else
                                {
                                    @Html.RadioButtonFor(model => model.GenderDonator, "Male") @Html.DisplayName("Male")
                                }
                            </label>
                            <label class="radio-inline">
                                @if (mb.Gender == "Female")
                                {
                                    @Html.RadioButtonFor(model => model.GenderDonator, "Female", new { @checked = "checked" }) @Html.DisplayName("Female")
                                }
                                else
                                {
                                    @Html.RadioButtonFor(model => model.GenderDonator, "Female") @Html.DisplayName("Female")
                                }
                            </label>
                            &nbsp;&nbsp;&nbsp;&nbsp;@Html.ValidationMessageFor(model => model.GenderDonator)
                        </div>
                        if (pro == null)
                        {
                            <div class="form-group">
                                @Html.LabelFor(model => model.CauseOfDonation)
                                @Html.DropDownListFor(model => model.CauseOfDonation, (SelectList)ViewData["lsCause"], null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CauseOfDonation)
                            </div>
                        }

                        <div class="form-group">
                            @Html.LabelFor(model => model.Amount)
                            @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", @placeholder = "Enter amount" })
                            @Html.ValidationMessageFor(model => model.Amount)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CreditType) &nbsp; &nbsp; &nbsp; &nbsp;
                            <span>
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.CreditType, "American Express") <img src="~/Content/ImageUpload/CreditCards/American-Express.png" width="50px" height="30px" />
                                </label>
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.CreditType, "Master Card") <img src="~/Content/ImageUpload/CreditCards/Mastercard.png" width="50px" height="30px" />
                                </label>
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.CreditType, "Discover") <img src="~/Content/ImageUpload/CreditCards/Discover.png" width="50px" height="30px" />
                                </label>
                                <label class="radio-inline">
                                    @Html.RadioButtonFor(model => model.CreditType, "Visa") <img src="~/Content/ImageUpload/CreditCards/Visa.png" width="50px" height="30px" />
                                </label>
                            </span>
                            &nbsp; &nbsp; &nbsp; &nbsp;@Html.ValidationMessageFor(model => model.CreditType)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CardNumber)
                            @Html.TextBoxFor(model => model.CardNumber, new { @class = "form-control", @placeholder = "Enter card number" })
                            @Html.ValidationMessageFor(model => model.CardNumber)
                        </div>
                        <button type="submit" class="bttn" style="font-size:25px">Donate</button>
                    }
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}




