@model IEnumerable<Models.Partners>
@{
    ViewBag.Title = "Partners";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="team">
    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center heading dark animate_top">
                Who are behind <span>NGO</span>
            </div>
        </div>
        @{var flag = 0;}
        @foreach (var item in Model)
        {
            flag++;
            if (flag % 2 != 0)
            {
            <div class="row t1">
                <div class="col-md-3 animate_left">
                    @*<img src="~/Content/View_components/images/organizers/org1.jpg" alt="img">*@
                    <img src="~/@item.Logo" alt="img">
                </div>
                <div class="col-md-9 animate_right">
                    <h1>@item.Name</h1>
                    <h3>E-mail</h3>
                    <p>@item.Email</p>
                    <h3>Address</h3>
                    <p>@item.Address</p>
                    <h3>Phone</h3>
                    <p>@item.Phone</p>
                    <h3>Profile</h3>
                    <p>@item.Profile</p>
                    <ul>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div> 
            }
            else
            {
            <div class="row t1">
                <div class="col-md-9 animate_right">
                    <h1>@item.Name</h1>
                    <h3>E-mail</h3>
                    <p>@item.Email</p>
                    <h3>Address</h3>
                    <p>@item.Address</p>
                    <h3>Phone</h3>
                    <p>@item.Phone</p>
                    <h3>Profile</h3>
                    <p>@item.Profile</p>
                    <ul>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>


                <div class="col-md-3 animate_left">
                    <img src="@item.Logo" alt="img">

                </div>
            </div>
            }

        }

       
    </div>
</div>





