@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@model Models.Member
<div class="contact-bg parallax" id="contact">
    <div class="contact">
        <div class="container">
            @if (Request.QueryString["change"] != null)
            {
                if (Request.QueryString["change"].Equals("error"))
                {
                <div class="alert alert-danger" style="text-align: center; margin-top: 30px; margin-bottom: -50px">
                    <img src='~/Content/View_components/images/error.png' alt="img">Change password not successfully!

                </div>
                
                }
            }
            <div class="row">

                <div class="col-md-12 text-center heading animate_top"><span class="brd">&nbsp;&nbsp;&nbsp;&nbsp;Change</span>&nbsp;&nbsp;&nbsp     Password</div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-5 contact_form animate_left">

                    @using (Html.BeginForm("ChangePasswordProcess", "User", FormMethod.Post))
                    {

                        

                        @Html.ValidationSummary(true)
                        
@*<div class="form-group">
                            @Html.TextBoxFor(m => m.UserName, new { @Value = user, @placeholder = "User name", @class = "form-control", @required = "required" })

                                @Html.ValidationMessageFor(m => m.UserName)

                        </div>*@
                        <div class="form-group">
                            @Html.Label("Old Password")
                            @Html.TextBoxFor(m => m.Password, new { @type = "password", @placeholder = "Password", @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword)
                            @Html.TextBoxFor(m => m.NewPassword, new { @type = "password", @placeholder = "Password", @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                        <div class="form-group">
                                @Html.LabelFor(model => model.NewPassword)
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @name = "CNewPassword", @type = "password", @placeholder = "Password", @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                        
                        <input type="submit" value="Login" class="bttn" />
                    }

                </div>
            </div>



        </div>
    </div>
</div>

@section Scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
}

