@model IEnumerable<Models.Partners>

@{
    ViewBag.Title = "NGO Website";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="mask">
    <div id="intro-loader">
    </div>
</div>
@* ====Slider==== *@
@{List<Models.ImageGallery> lsSlide;
  lsSlide = ViewData["slides"] as List<Models.ImageGallery>;
}
<div id="slides">
    <div class="slides-container">
        @if (lsSlide.Count != 0)
        {
            foreach (var item in lsSlide)
            {
    
            <img src="~/@item.ImagePath" alt="slider1">
   
            }
        }
        else
        {
               
            <img src="~/Content/View_components/images/slider/slider2.jpg" alt="slider1">
            <img src="~/Content/View_components/images/slider/slider2.jpg" alt="slider2">
            <img src="~/Content/View_components/images/slider/slider3.jpg" alt="slider3"> 
        
        }

    </div>
</div>


<div id="top" class="top">
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center animate_left">
                    <div class="logo">
                        <img src="~/Content/View_components/images/logo.png" alt="logo">
                    </div>
                    <span class="subtitle">Education for all.</span>
                </div>
                <div class="col-md-9 slider_title">
                    <h2 class="animate_top">Supporting <span id="pageLoad">0</span> child education, and counting...</h2>
                    <a class="top_btn" href="@Url.Action("Donate", "Donate")">Donate Now</a>

                </div>
            </div>
        </div>
    </div>
</div>
@* ============================================== *@
<div id="middle" class="middle">

    <div class="container">
        <div class="row">
            <div class="col-md-8 animate_top">
                <div class="text-center heading">
                    <span>PROGRAMS</span>
                </div>
                @{IEnumerable<Models.Programs> prolist;
                  prolist = ViewData["programs"] as IEnumerable<Models.Programs>;
                }
                @{List<Models.ImageGallery> listImg;
                  listImg = ViewData["lsTopicPrograms"] as List<Models.ImageGallery>;
                }
                @if (prolist != null)
                {
                    foreach (var item in prolist)
                    {

                        foreach (var i in listImg)
                        {
                            if (i.ProgramName == @item.Name)
                            {
                    <img src="~/@i.ImagePath" alt="img" class="animate_top" width="300px" height="300px">                                                    
                            }
                        }

                       
                    <h1>@item.Name</h1>

                        string[] arrListStr = item.Contents.Split(new char[] { '.' });
                        if (arrListStr.Count() > 2)
                        {
                    <h3>@String.Concat(arrListStr[0], arrListStr[1])</h3>
                        }
                        else
                        {
                    <h3>@item.Contents</h3>
                        }

                        
                    <hr style="height: 2px; border-width: 0; background-color: gray">
                        
                       
                    
                    }
                }
            </div>


            <div class="col-md-4 slider_title">
                <h1>NEWS</h1>
                @{IEnumerable<Models.Informations> news;
                  news = ViewData["infor"] as IEnumerable<Models.Informations>;
                }
                @if (news != null)
                {
                    foreach (var i in news)
                    {
                    <h1>@i.Subject</h1>
                    <h3>Content</h3>
                    <p>@i.Contents</p>
                                       
                    }
                }

            </div>
        </div>
    </div>
</div>

@*================================================================================*@
<div class="stories" id="stories">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 heading dark animate_top">Our <span>Partners</span></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="bxslider_story">

                    @foreach (var item in Model)
                    {
                        <li class="s1">
                            @*<img src="~/Content/View_components/images/students/1.jpg" >*@
                            <img src="@item.Logo" alt="img" data-toggle="tooltip" title="@item.Name" width="300px" height="300px">
                            @*<p class="animate_bottom">@item.Email</p>*@
                        </li>
                   
                    }

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="social-icons">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12 text-center heading animate_top"><span>Spread </span>the word</div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="animate_bottom">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
