@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@model Models.Member
<div class="contact-bg parallax" id="contact">
    <div class="contact">
        <div class="container">
            @if (Request.QueryString["error"] != null)
            {
                if (Request.QueryString["error"].Equals("-1"))
                {
                <div class="alert alert-danger" style="text-align: center; margin-top: 30px; margin-bottom: -50px">
                    <img src='~/Content/View_components/images/error.png' alt="img">Acount is not existed ! Please type again !

                </div>
                
                }
            }
            <div class="row">

                <div class="col-md-12 text-center heading animate_top"><span class="brd">&nbsp;&nbsp;&nbsp;&nbsp;Login</span>&nbsp;&nbsp;&nbsp     Form</div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-5 contact_form animate_left">

                    @using (Html.BeginForm("LoginProcess", "User", FormMethod.Post))
                    {

                        var user = "";
                        var pass = "";
                        var check = "";
                        if (Request.Cookies["user_ck"] != null)
                        {
                            user = Request.Cookies["user_ck"].Values["user"].ToString();
                            pass = Request.Cookies["user_ck"].Values["pass"].ToString();
                            check = "checked";
                        }
                        else if (Session["draftUserAcc"] != null)
                        {
                            Models.Member mb = Session["draftUserAcc"] as Models.Member;
                            user = mb.UserName;
                            pass = mb.Password;
                        }

                        
                        <div class="form-group">

                            <input type="text" name='UserName' value="@user" id='UserName' class="form-control" placeholder="User name" required>
                        </div>
                        <div class="form-group">

                            <input type="password" name='Password' value="@pass" id='Password' class="form-control" placeholder="Password" required>
                        </div>
                        <div class="checkbox">
                            <label>
                                @if (check != "")
                                {
                                    @Html.CheckBox("cbRemember", new { @Value = "rmb", @checked = check })
                                }
                                else
                                {
                                    @Html.CheckBox("cbRemember", new { @Value = "rmb" })
                                }
                                Remember Me
                            </label>
                        </div>
                        <input type="submit" value="Login" class="bttn" />
                    }

                    <h3><a href='@Url.Action("Register", "User")'>You don't have an account? Registry now!</a></h3>
                </div>
            </div>



        </div>
    </div>
</div>


