@model Models.Member
@{
    if (Session["user_login"] == null){
    ViewBag.Title = "Register";}
    else
    {
        ViewBag.Title = "Profile";    
    }
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="contact-bg parallax" id="contact">
    <div class="contact">
        <div class="container">
            @if (Request.QueryString["add"] != null)
            {
                if (Request.QueryString["add"].Equals("error"))
                {
                <div class="alert alert-danger" style="text-align: center; margin-top: 30px; margin-bottom: -50px">
                    <img src='~/Content/View_components/images/error.png' alt="img">Register Fail !

                </div>
                
                }
                else
                {
                <div class="alert alert-danger" style="text-align: center; margin-top: 30px; margin-bottom: -50px">
                    <img src='~/Content/View_components/images/error.png' alt="img">Register Successfull !

                </div>
                }
            }
            <div class="row">
                <div class="col-md-12 text-center heading animate_top"><span class="brd">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Register</span>&nbsp;&nbsp;&nbspForm</div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-5 contact_form animate_left">

                    @using (Html.BeginForm("RegisterProcess", "User", FormMethod.Post))
                    {
                        
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                          
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName)
                            @Html.ValidationMessageFor(model => model.UserName)
                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Enter text", @maxlength = "50" })
                            
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password)
                            @Html.ValidationMessageFor(model => model.Password)
                            @Html.TextBoxFor(model => model.Password, new { @type = "password", @placeholder = "Enter text", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FullName)
                            @Html.ValidationMessageFor(model => model.FullName)
                            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @placeholder = "Enter text", @maxlength = "50" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Gender)
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.Gender, "Male") Male
                            </label>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.Gender, "Female") Female
                            </label>

                            @Html.ValidationMessageFor(model => model.Gender)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Address)
                            @Html.ValidationMessageFor(model => model.Address)
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Enter text", @maxlength = "100" })
                            
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Phone)
                            @Html.ValidationMessageFor(model => model.Phone)
                            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "Enter text", @maxlength = "15" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Enter text", @maxlength = "100" })
                        </div>
                        <label>@Html.CheckBox("cbIsMOT", new { @Value = "rmb" }) Join With Us </label>

                        <button class="bttn" id='register' type="submit">Register</button>
                        <button class="bttn" id='cancel' type="reset">Reset</button>
                        
                        <h3><a href='@Url.Action("Login", "User")'>You have an account? Back to login!</a></h3>
                       
                    }
                </div>
            </div>



        </div>
    </div>
</div>
@section Scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
}