@{
    ViewBag.Title = "Program";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@model IEnumerable<Models.Programs>
<div class="recent_news" id="recent_news">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 heading dark animate_top">Recent <span>Programs</span></div>
        </div>
        <div class="row act">
            @{List<Models.ImageGallery> listImg;
              listImg = ViewData["lsTopicPrograms"] as List<Models.ImageGallery>;
              }
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    @foreach (var i in listImg)
                    {
                        if (i.ProgramName == @item.Name)
                        {
                    <img src="~/@i.ImagePath" alt="img" class="animate_top">                                                    
                        }
                    }
                    <div class="animate_bottom s1">
                        <h4>@item.Name</h4>
                        <p class="date">Issie 18 - 24 October 2013</p>
                        <p class="meta">
                            <i class="fa fa-calendar"></i>August 5, 2013<br>
                            <i class="fa fa-clock-o"></i>9:00am - 1:00pm<br>
                            <i class="fa fa-map-marker"></i>TheWebLab
                        </p>

                        @{ string[] arrListStr = item.Contents.Split(new char[] { '.' });
                           if (arrListStr.Count() > 2)
                           {
                               <p>@String.Concat(arrListStr[0], arrListStr[1])</p>
                           }
                           else
                           {
                               <p>@item.Contents</p>
                           }
                        }
                        <p class="readmore"><a href="@Url.Action("RecentProgram", "Programs", new { @id = item.Id })" class="ajax-popup-link">...read more</a></p>
                    </div>
                </div>  
            }

            
        </div>
    </div>
</div>
